.no-scroll {
    overflow: hidden;
}
.container {
    font-family: 'Segoe UI Light','Segoe UI', 'Open Sans', Verdana, Arial, sans-serif;
    width: 1000px;
    margin: 0 auto;
}

.header {
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    color: #555;
    font-size: 13px;
    text-align: center;
    border-top: 1px solid #ddd;
}
.footer div {
    margin-bottom: 5px;
}

.content-header {
    margin: 15px 0 40px 0;
}
.content-header:after {
    content: '';
    display: block;
    clear: right;
}
.content-body {
    margin: 20px 0;
}
.content-footer {
    margin: 20px 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.menu li {
    display: inline-block;
    text-transform: lowercase;
    margin: 0 10px 10px 0;
}
.menu li a {
    text-decoration: none;
}
.menu li a:hover,
.menu li.selected a {
    border-bottom: 2px solid rgb(17, 85, 204);
}

.search-box {
    position: relative;
    float: right;
}
.search-box input {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 250px;
}
.search-box button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    border: none;
    background: url(search.png) no-repeat center center;
    background-size: 100% 100%;
    opacity: 0.5;
}
.search-box:hover button {
    opacity: 1;
}
.search-box-help {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    font-style: italic;
    color: #999;
}

.movie-list {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    width: 910px;
}
.movie-list:after {
    content: '';
    display: block;
    clear: left;
}

.movie-item {
    display: block;
    float: left;
    width: 160px;
    margin: 0 20px 20px 0;
    background-color: #e5e5e5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.movie-item .movie-poster {
    margin: 4px;
    padding: 0;
    height: 222px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
.movie-poster.loader {
    background: url(movie-item-ajax-loader.gif) no-repeat center center;
}
.movie-poster.default {
    background: url(camera.png) no-repeat center center;
}
.movie-poster img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.95;
}
.movie-poster img:hover {
    opacity: 1;
}

.movie-caption h3 {
    position: relative;
    margin: 0;
    padding: 3px;
    text-align: center;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.movie-caption .fade-end {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(to right, rgba(229,229,229,0), rgba(229,229,229,1));
}

.movie-sub-caption {
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 5px;
}
.movie-sub-caption:after {
    content: '';
    display: block;
    clear: right;
}

.movie-item-other-info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    text-align: left;
}

.star-rating {
    position: relative;
    font-size: 13px;
    font-weight: normal;
    width: 65px;
    height: 20px;
    color: #888;
}
.star-rating .star-empty {
    position: absolute;
    top: 0;
    left: 0;
}
.star-rating .star-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    overflow: hidden;
}
.movie-item:hover .star-value {
    color: #f00;
}

.movie-item-actions {
    float: right;
}
.movie-item-actions a {
    text-decoration: none;
    font-size: 11px;
    color: #333;
}
.movie-item:hover .movie-item-actions a {
    color: rgb(17, 85, 204);
}

.pagination {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination a {
    padding: 0 10px;
    font-size: 13px;
    text-decoration: none;
}
.pagination a:hover {
    text-decoration: underline;
}
.pagination-previous-page, .pagination-next-page {
    font-size: 20px!important;
    font-weight: 900!important;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
}
.lightbox:after {
    clear: both;
}
.lightbox .movie-details {
    width: auto;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    overflow-y: scroll;
}
.lightbox .movie-details h1 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.lightbox .movie-details table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
    vertical-align: top;
}
.lightbox .movie-details table td {
    vertical-align: top;
}
.lightbox .movie-details table td:first-child {
    width: 100px;
    padding-left: 10px;
}
.lightbox .movie-details .movie-details-header {
    font-size: 13px;
    font-weight: bold;
    background-color: #ddd;
    border-bottom: 1px solid #999;
    width: 100%;
}
.lightbox .movie-poster {
    float: right;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.lightbox .close {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    font: 300 40px sans-serif;
    text-decoration: none;
    color: #ddd;
}
.lightbox .close:hover {
    color: #fff;
}
.lightbox .lightbox-actions {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.lightbox .lightbox-actions a {
    font-size: 13px;
    text-decoration: none;
}
.lightbox .lightbox-actions a:hover {
    text-decoration: underline;
}

.movie-item-menu {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    border: 1px solid #aaa;
    font-family: sans-serif;
    box-shadow: 1px 1px 1px 1px #555;
    cursor: default;
}
.movie-item-menu li {
    margin: 0;
    padding: 5px 10px;
    font-size: 13px;
}
.movie-item-menu li:hover {
    background-color: #ddd;
}
